{% extends 'trading_site/base.html' %}

{% block content %}

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                        {% for bed in beds %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                                src="{{bed.product_image.url}}"
                                data-holder-rendered="true">
                                <h4 class="card-title">{{bed.product_name}}</h4>
                            <div class="card-body">
                                <p class="card-text">{{bed.description}}</p>
                                <br>
                                <div class="d-flex"><h5 class="card-text">Price:</h5><p class="card-text mb-1  mx-2">€{{bed.price}}</p>
                                </div>
                                
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="text-center">
                                        <form method="POST">
                                        {% csrf_token %}
                                            <input type="hidden" name="id" value="{{bed.product_id}}">
                                        <button type="submit" class="btn btn-outline-dark stretched-link" href="{% url 'trading_site:Products_view' %}">View</button>
                                        </form>
                                    </div>
                                    <small class="text-muted">{% if products.stock == 0 %}
                                                               <p class="text-danger">Not Available<p>
                                                                {% else %}
                                                                <p class="text-success">Available<p>
                                                            {% endif %}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>



{% endblock  %}